# This file should contain the machine dependent declaration of the variables which affects the files defined later.
# ex. : GITHUB_DIR, this vairable can point to different path in different machines
# Run `cp $ZSH_CUSTOM/setup.zsh.example $ZSH_CUSTOM/00-setup.zsh`
export GITHUB_DIR="$HOME/github"
